@import '@styles/constants';

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: grey;
  padding: 0 10% 0 10%;
  * {
    font-size: 0.8rem;
  }
  > p {
    margin-right: 35px;
  }
}

.link {
  cursor: pointer;
  margin: 10px 15px 10px 15px;
  font-size: 0.8rem;
  &:hover {
    color: $white;
  }
}
